<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet_Zoro</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
</head>
<body>
    <!--HEADER -->
    <header></header>
    <section class="milieu">
        <div class="zoro">
            <h1>ZORO</h1>
        </div>
        <div class="slide-bar">
            {% include './partials/navbar.html' %}
            <div class="slide-d">
               {% block content %}
               {% endblock  %}
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>